extends base

block content
  main.main    
      .user-view__content                
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Reset Password
          form.form.form-user-password#form-reset-password
            .form__group
              label.form__label(for='password') New password
              input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.ma-bt-lg
              label.form__label(for='password-confirm') Confirm password
              input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.right
              button.btn.btn--small.btn--green.btn--save-password(data-token = `${token}`) Save password
